
body {
    background-image: url('/pokeLandScape.jpg');
    background-size: cover;      /* cubre toda la pantalla */
    background-position: center; /* centra la imagen */
    background-repeat: no-repeat;/* no se repite */
    /*    background-color: rgba(41, 50, 74, 0.5); /* negro con 50% de opacidad */
    /*    background-blend-mode: overlay;        /* mezcla el color con la imagen */
}

.row {
    align-items: flex-start;
}

.navcontenido{
    margin: 10px;
}

/*Nadvar*/
.navTamaño{
    margin-top: 10px;
    width: 100%;   /* ancho fijo */
    height: 15%;
    border-radius: 25px;
}
.navStyle{
    background-color: rgba(61, 99, 190, 0.393);
    backdrop-filter: blur(2px);
    border-radius: 25px;
    padding: 10px;
}
.pokeBuscador, input{
    background-color: #8fffb8;
    backdrop-filter: blur(1px);
    border-radius: 5px;
    height: 35px;
    width: 180px;
}

/*Opciones---------------------------------------------------------------------------*/

.card-opciones{
    background-color: rgba(4, 11, 24, 0.436);
    border-radius: 25px;
    padding: 30px;
    display: flex;
    justify-content: center;
    min-height: 400px;
    height: auto;

    box-shadow: #222;
    perspective: 1000px; /* necesario en el contenedor para que gire */

}


.box {
    background-color: rgba(177, 188, 216, 0.305);
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    width: 120px;
    height: 100px;
    box-shadow: rgba(9, 20, 48, 0.295) 0px 5px 1px;
    display: inline;
    text-align: center;

}

.poke-vista{

    max-width:  190px;
    min-width: 130px;/* tamaño fijo para evitar problemas de cálculo de 100% */
    height: 150px;
    padding: 10px;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.8s ease;
    transform-origin: center center;
}

.card-opciones:hover .poke-vista,
.card-opciones:focus-within .poke-vista {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card-opciones-pokedex {
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.15);
    height: 100%;
}

.pokedex-card {
    width: 100%;
}

.profile-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.profile-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.profile-info {
    width: 100%;
    margin-top: 10px;
}

.profile-item span {
    max-width: 180px;      /* ajusta este valor si quieres más o menos espacio */
    white-space: nowrap;   /* evita que se haga varias líneas */
    overflow: hidden;      /* oculta el exceso */
    text-overflow: ellipsis; /* pone "..." al final */
    display: inline-block;
    text-align: left;
}


.profile-item i {
    color: #d62828;
}

.pokeAdornos,
.pokeAdornos-1,
.pokeAdornos-2,
.pokeAdornos-3 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #d62828;
}

.pokeAdornos-1 {
    background: #f77f00;
}
.pokeAdornos-2 {
    background: #fcbf49;
}
.pokeAdornos-3 {
    background: #eae2b7;
}


.poke-front, .poke-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.poke-front {
    background: linear-gradient(180deg, #ffcb05, #f6a800);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    transform: rotateY(0deg);
    z-index: 2; /* mostrar delante inicialmente */
}

.poke-front img{ /* asegurar tamaño de la imagen */
    height: auto;
    display: block;
    margin-bottom: 8px;
}

.poke-back {
    background: linear-gradient(180deg, #3b4cca, #1a237e);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


.poke-buttons {
    /* background: rgba(213, 221, 235, 0.885); */
    /* backdrop-filter: blur(10px);
    box-shadow: rgba(188, 197, 222, 0.467) 0px 1px 7px; */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.poke-buttons button {
    background: linear-gradient(180deg, #9542d544, #0b17ba44);
    backdrop-filter: blur(10px);
    /* border: 1px solid #d9d8e5; */
    box-shadow: rgba(1, 8, 30, 0.826) 0px 1px 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #333;
    width: 100%;
    height: 40px;
}
.poke-buttons button:hover {
    background: linear-gradient(180deg, #ffcb05, #f6a800);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #c79e45, 0 0 40px
        #c79945, 0 0 80px #c79945;  /* efecto de resplandor wiccs!*/

}

.pokeImage-detail{
    max-width: none;
    max-height: none;
    width: 100%;
}

/*-----------------------------------------------------------------------------*/
/*Pokedex*/

.pokeBuscador-pokedex, input{
    background-color: #edeeff;
    backdrop-filter: blur(1px);
    border-radius: 5px;
    height: 27px;
    width: 120px;
    margin-left: 15px;
    color: #1f0d5c;
}

.card-opciones-pokedex{
    background-color: rgb(218, 20, 14);
    border-radius: 25px;
    padding: 3px;
    display: flex;

    height: 400px;
    box-shadow: #222;
    perspective: 1000px; /* necesario en el contenedor para que gire */

}

.poke-vista-pokedex{

    width: 260px;
    height: 210px;
    padding: 10px;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.8s ease;
    transform-origin: center center;
}

.poke-front-pokedex{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 30px rgb(111, 231, 255);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background: linear-gradient(180deg, #a3ffd7);
    display: flex;

    align-items: center;
    justify-content: center;
    color: #333;
    max-height: 600px;   /* altura máxima */
    overflow-y: auto;    /* si excede el tamaño, se activa el scroll */
    align-items: start;
}


.pokeAdornos{
    background-color: #56a5ff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-style: solid;
    border-color: #ffffff;
    margin: 5px;
    box-shadow: 1px 10px 30px #8eaaff, 0 0 20px #ff3eab, 0 0 10px #52ffa9;

}
.pokeAdornos-1{
    background-color: #ff454b;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-style: solid;
    border-color: #ffa0a0;
    border-width: 1px;
    margin: 5px;
    box-shadow: 1px 10px 30px #ff8e8e, 0 0 20px #ff3eab, 0 0 10px #ff5252;

}
.pokeAdornos-2{
    background-color: #ffe714;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-style: solid;
    border-color: #fff5a0;
    border-width: 1px;
    margin: 5px;
    box-shadow: 1px 10px 30px #fffb8e, 0 0 20px #ff8b3e, 0 0 10px #f3ff52;

}
.pokeAdornos-3{
    background-color: #86ff14;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-style: solid;
    border-color: #e9ffd6;
    border-width: 1px;
    margin: 5px;
    box-shadow: 1px 10px 30px #9fff8e, 0 0 20px #75ff3e, 0 0 10px #52ff72;

}

/*-----------------------------------------------------------------------------*/
/*Tabla*/

.mytable {
    background-color: rgba(177, 188, 216, 0.205);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(9, 20, 48, 0.467) 0px 4px 8px;

    max-height: 600px;   /* altura máxima */
    overflow-y: auto;    /* si excede el tamaño, se activa el scroll */
}

.poke-fila:hover {
    background-color: rgba(181, 255, 8, 0.047);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #55a67b, 0 0 40px
        #4575c7, 0 0 80px #45b1c7;  /* efecto de resplandor wiccs!*/
    border-radius: 30px;

}




/* Ocultar scrollbar en Webkit (Chrome, Safari, Edge) */
&::-webkit-scrollbar {
    display: none;
}



.table-container {
    height: 360px;

    max-height: 600px;             /* altura máxima del área scrollable */
    overflow-y: auto;              /*Si excede el tamaño se activa el scroll*/
    /* Ocultar scrollbar en Webkit (Chrome, Safari, Edge) */
    scrollbar-width: thin;       /* para Firefox: opcional, "none" para ocultar */
    -ms-overflow-style: none;    /* IE 10+ */
}



.pokemon-picture{
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background-color: rgba(177, 188, 216, 0.205);
    backdrop-filter: blur(5px);
}

.container-data{
    margin: 5px;
    background-color: #f0fbec;
    backdrop-filter: blur(5px);
    box-shadow: rgba(12, 36, 97, 0.295) 0px 5px 15px;
    backdrop-filter: blur(5px);
    height: 100px ;
    width: 250px;
    border-radius: 15px;

}

/*---------------------------------------------------------------------------*/
/*Toggle*/
.switch input {
    display:none;
}
.switch {
    display:inline-block;
    width:55px;
    height:25px;
    margin:8px;
    transform:translateY(50%);
    position:relative;
}
/* Style Wired */
.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
    transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}

/* Style Flat */
.switch.flat .slider {
    box-shadow:none;
}
.switch.flat .slider:before {
    background:#FFF;
}
.switch.flat input:checked + .slider:before {
    background:white;
}
.switch.flat input:checked + .slider {
    background:limeGreen;
}

.mensajeVacio{
    background-color: rgba(2, 14, 26, 0.585);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 80px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: small;
    padding: 10px;
    margin: 10px auto;
    color: tomato;
    box-shadow: rgba(9, 20, 48, 0.467) 0px 4px 8px;
}

.container-Modal{
    display: none;
}

.modal{

    background: linear-gradient(to bottom, rgba(46, 58, 106, 0.864), rgba(39, 16, 39, 0.821));
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 80px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: small;
    padding: 10px;
    margin: 10px auto;
    box-shadow: rgba(9, 20, 48, 0.467) 0px 4px 8px;
}

.form-Modal {
    padding: 20px;
    width: 100%;

}


/*Efecto*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox{
    width: 50%;
    position: relative;
    padding: 50%;
    background: #ffffff06;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;

}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;

}
.modalmask:target .movedown{
    margin:10% auto;
}
.modalmask:target .rotate{
    transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask:target .resize{
    width:400px;
    height:200px;
}

/*Boton de cerrar*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;

}

.close:hover {
    background: #FAAC58;
    color:#222;
}

/* Ocultar checkbox original */
.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Caja con forma de corazón */
.checkmark {
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

/* Dibujo del corazón usando 2 pseudo-elementos */
.checkmark::before,
.checkmark::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 22px;
    background-color: #13053324;
    border-radius: 15px 15px 0 0;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Mitades del corazón */
.checkmark::before {
    left: 5px;
    transform: rotate(-45deg);
}
.checkmark::after {
    left: 10px;
    transform: rotate(45deg);
}

/* ---- ESTADO CHECKED ---- */
.checkbox-container input[type="checkbox"]:checked + .checkmark::before,
.checkbox-container input[type="checkbox"]:checked + .checkmark::after {
    background-color: #ff4f9a;        /* rosa encendido */
    box-shadow: 0 0 10px #ff2fa7,
        0 0 20px #ff9ecf,
        0 0 30px #ff00ea;     /* brillo */
}

/* Animación de "latido" al marcar */
.checkbox-container input[type="checkbox"]:checked + .checkmark {
    transform: scale(1.2);
}


.btn-change{
    background: linear-gradient(180deg, #9542d544, #0b17ba44);
    backdrop-filter: blur(10px);
    /* border: 1px solid #d9d8e5; */
    box-shadow: rgba(1, 8, 30, 0.826) 0px 1px 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #333;
    width: 10%;
    height: 10%;
    border-radius: 5%;
}

.img-detail{
    width: 260px;
    height: auto;
    display: block;
    margin-bottom: 8px;
}

/*Estilos de login-------------------------------------------------------------*/

body.login {
    background-image: url('pokePaisaje.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', monospace;
    color: #1a2e1a;
    text-transform: uppercase;
}


.gameboy-frame {
    background: #cfcab3;
    /*borde transparente*/
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 25px;
    width: 380px;
    box-shadow: inset 0 0 10px rgba(9, 5, 46, 0.5), 0 10px 20px rgba(0,0,0,0.7);
}

.screen {
    background: #ebff91;

    box-shadow: 0 0 1px #afec08, 0 0 40px
        #b8f851, 0 0 50px #ccff15;  /* efecto de resplandor wiccs!*/
    border-radius: 10px;
    padding: 25px;

    text-align: center;
}

.screen h2 {
    font-size: 10px;
    margin-bottom: 20px;
}

.form-control {
    background: #c2d16d;
    border: 2px solid #1a2e1a;
    border-radius: 5px;
    color: #1a2e1a;
    font-size: 10px;
}

.form-control::placeholder {
    color: #2d4a2d;
}

.form-control:focus {
    box-shadow: none;
    background: #b9cc6a;
    border-color: #1a2e1a;
}

.btn-start {
    background: #1a2e1a;
    color: #9bbc0f;
    border: 3px solid #3a3a3a;
    font-size: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.btn-start:hover {
    background: #3a3a3a;
    transform: scale(1.05);
}

.link {
    color: #1a2e1a;
    font-size: 9px;
    display: inline-block;
    margin-top: 15px;
}

.link a {
    color: #1a2e1a;
    text-decoration: underline;
}

.link a:hover {
    color: #000;
}

/* Botones decorativos (como la consola Game Boy) */
.gb-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 15px;
}

.btn-a, .btn-b {
    width: 40px;
    height: 40px;
    background: #c4d1fe;
    border-radius: 50%;
    border: 3px solid #e1eafc;
    box-shadow: 0 0 1px #afdffb, 0 0 40px
        #5151f8, 0 0 10px #93c2e4;  /* efecto de resplandor wiccs!*/

}

.btn-b {
    background: #963030;
}


/*Estilos de tipos*/

.pokeBuscador {
    position: relative;
}
body{
    font-family: 'Press Start 2P', monospace;
    color: #1a2e1a;
    text-transform: uppercase;
}

.pokeInput {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ffcb05; /* color Pikachu */
    border-radius: 20px;
    padding-left: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: #2a75bb; /* azul Pokémon */
    transition: all 0.3s ease;
    width: 180px;
}

.pokeInput::placeholder {
    color: #3b4cca;
    opacity: 0.7;
}

.pokeInput:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #ffcb05;
    background-color: #fff;
}

.pokeBuscador button {
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    border: 2px solid #ffcb05;
    color: #fff;
    background-color: #3b4cca;
    transition: 0.3s;
}

.pokeBuscador button:hover {
    background-color: #2a75bb;
}
/* Igual que el estilo de tu input de buscador */
.pokeSelect {
    background-color: #2c2f3f;
    border: 1px solid #b3ffbc;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;

}

.pokeSelect:hover {
    background-color: #3a3d52;
}

.checkbox-list {
    border: 1px solid #444;
    background: #2c2f3f;
    color: white;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 4px;
    display: none;
    position: absolute;
    z-index: 1000;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.checkbox-list label {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.checkbox-list label:hover {
    background: #3a3d52;
}

.checkbox-list input[type="checkbox"] {
    accent-color: #ffcb05; /* Color amarillo Pokémon */
    width: 16px;
    height: 16px;
    cursor: pointer;
}
/* CONTENEDOR PRINCIPAL (simula el input) */
.pokeSelect {

    background-color: rgba(65, 211, 138, 0.795);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 8px 10px;
    width: 80px;
    cursor: pointer;

    font-family: 'Press Start 2P', cursive;
    font-size: 10px;

    transition: all 0.3s ease;
    text-align: left;
}

.pokeSelect:hover {
    background-color: #d4ffae;
    box-shadow: 0 0 10px #c8ffc7, 0 0 40px
        #aaffca, 0 0 80px #b6ff6d;  /* efecto de resplandor wiccs!*/
}

/* LISTA DESPLEGABLE */
.checkbox-list {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.97);
    border: 2px solid #cbffea;
    border-radius: 20px;
    padding: 12px;
    margin-top: 6px;
    width: 180px;

    display: none;
    max-height: 100px;
    overflow-y: auto;
    z-index: 100000;

    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: #2a75bb;
    box-shadow: 0 0 10px #9adaff, 0 0 40px
        #63ffce, 0 0 80px #89b5ff;  /* efecto de resplandor wiccs!*/
}

/* ELEMENTOS INTERNOS */
.checkbox-list label {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 6px 4px;
    border-radius: 10px;
    cursor: pointer;
}

.checkbox-list label:hover {
    background-color: #dbeafe; /* azul claro */
}

/* CHECKBOX POKEMON STYLE (amarillo) */
.checkbox-list input[type="checkbox"] {
    width: 14px;
    height: 14px;
    accent-color: #ffcb05;
    cursor: pointer;
    border-radius: 4px;
}


