<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>



    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="text-center mt-3 text-white">
                    <p class="fs-2">Pokemones favoritos</p>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-opciones-pokedex p-3">

                            <!-- Adornos superiores -->
                            <div class="d-flex mb-3 gap-2 justify-content-start">
                                <div class="pokeAdornos"></div>
                                <div class="pokeAdornos-1"></div>
                                <div class="pokeAdornos-2"></div>
                                <div class="pokeAdornos-3"></div>
                            </div>

                            <!-- Contenido de la tarjeta -->

                                <div class="profile-inner">

                                    <!-- Foto -->
                                    <img class="profile-avatar"
                                         src="https://i.pravatar.cc/150"
                                         alt="avatar">

                                    <!-- Nombre -->
                                    <div class="profile-name mt-2">
                                        <span th:text="|${entrenador.nombre} ${entrenador.apellidoPaterno} ${entrenador.apellidoMaterno}|"></span>
                                    </div>

                                    <!-- Datos con iconos -->
                                    <div class="profile-info mt-3">

                                        <div class="profile-item">
                                            <i class="fa-solid fa-user"></i>
                                            <span th:text="${entrenador.username}"></span>
                                        </div>

                                        <div class="profile-item">
                                            <i class="fa-solid fa-envelope"></i>
                                            <span th:text="${entrenador.correo}"></span>
                                        </div>

                                        <div class="profile-item">
                                            <i class="fa-solid fa-book"></i>
                                            <span th:text="${pokedex.nombre}"></span>
                                        </div>

                                    </div>

                                </div>


                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-md-8 col-lg-9">
                        <div class="table-container mytable mt-3">
                            <table class="table-hover text-white align-middle">
                                <thead class="">
                                    <tr>
                                        <th class="col-1"></th>
                                        <th class="col-1">Name</th>
                                        <th class="col-1">Tipos</th>
                                        <th class="col-1">Medidas</th>
                                        <th class="col-1" th:if="${token} != null">Favorito</th>
                                    </tr>
                                </thead>

                                <tbody id="tabla-pokemones">
                                    <tr th:each="pokemon : ${pokemones}" class="poke-fila p-2 mb-2 align-items-center"
                                        th:attr="
                                        data-id=${pokemon.id},
                                        data-name=${pokemon.name},
                                        data-height=${pokemon.height},
                                        data-weight=${pokemon.weight},
                                        data-types=${#strings.listJoin(pokemon.types.?[name != null].![name], ' ')},
                                        data-img=${pokemon.sprites[0].front_default},
                                        data-img-back=${pokemon.sprites[0].back_default},
                                        data-crie=${pokemon.cries[0].latest},
                                        data-hp=${pokemon.stats[0].base_stat},
                                        data-atk=${pokemon.stats[1].base_stat},
                                        data-def=${pokemon.stats[2].base_stat},
                                        data-spa=${pokemon.stats[3].base_stat},
                                        data-spd=${pokemon.stats[4].base_stat},
                                        data-speed=${pokemon.stats[5].base_stat}"



                                        onclick="cargarPokemon(this)">

                                        <td>
                                            <img th:src="${pokemon.sprites[0].front_default}" class="pokemon-picture" alt="Imagen del Pokémon" />
                                        </td>

                                        <td>
                                            <div>
                                                <span th:text="${pokemon.order}"></span> <span th:text="${pokemon.name}" class="m-0"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <span th:each=" type :${pokemon.types}">
                                                <span th:text="${type.name}"> </span>
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <i class="bi bi-arrows-vertical"></i> <span th:text="${pokemon.height}"></span>
                                            </div>
                                            <div>
                                                <i class="bi bi-arrows"></i> <span th:text="${pokemon.weight}"></span>
                                            </div>
                                        </td>

                                        <td th:if="${token} != null">
                                            <!--No modificar el id del checkbox pues no se podran seleccionar correctamente, el id debe ser dinamico :V-->
                                            <div class="checkbox-container" >
                                                <input class="poke-checkbox" th:data-id="${pokemon.id}" type="checkbox" th:id="'checkbox-' + ${pokemon.id}" th:name="'seleccion-' + ${pokemon.id}" 
                                                       th:data-name="${pokemon.name}" 
                                                       th:data-height="${pokemon.height}"
                                                       th:data-weight="${pokemon.weight}"
                                                       th:data-img="${pokemon.sprites[0].front_default}"
                                                       th:data-img-back="${pokemon.sprites[0].back_default}"
                                                       th:data-type="${pokemon.types[0].name}"
                                                       th:data-crie="${pokemon.cries[0].latest}"
                                                       th:data-hp="${pokemon.stats[0].base_stat}"
                                                       th:data-atk="${pokemon.stats[1].base_stat}"
                                                       th:data-def="${pokemon.stats[2].base_stat}"
                                                       th:data-spa="${pokemon.stats[3].base_stat}"
                                                       th:data-spd="${pokemon.stats[4].base_stat}"
                                                       th:data-speed="${pokemon.stats[5].base_stat}"/>
                                                <label th:for="'checkbox-' + ${pokemon.id}" class="checkmark"></label>
                                            </div>


                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            /* ---------- FAVORITOS: delegación + fetch ---------- */
            function bindCheckboxDelegation() {
                const tbody = document.getElementById("tabla-pokemones");
                // delegación: cuando un input.poke-checkbox cambia, manejamos la petición
                tbody.addEventListener("change", function (e) {
                    const target = e.target;
                    if (target && target.classList && target.classList.contains("poke-checkbox")) {
                        // evitar que el click active el onclick de la fila (si el navegador lo intenta)
                        e.stopPropagation();

                        const estado = target.checked;
                        const pokemon = {
                            idPokemon: parseInt(target.dataset.id),
                            favorito: estado,
                            nombre: target.dataset.name,
                            tipo: target.dataset.type,
                            altura: target.dataset.height,
                            peso: target.dataset.weight,
                            img: target.dataset.img,
                            imgBack: target.dataset.imgBack,
                            crie: target.dataset.crie,
                            hp: target.dataset.hp,
                            atk: target.dataset.atk,
                            def: target.dataset.def,
                            spa: target.dataset.spa,
                            spd: target.dataset.spd,
                            speed: target.dataset.speed
                        };

                        fetch('/pokeControl/standar/favoritos', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(pokemon)
                        })
                                .then(res => {
                                    if (!res.ok)
                                        return res.text().then(t => Promise.reject(t));
                                    return res.json();
                                })
                                .then(data => {
                                    console.log('Actualización exitosa:', data);
                                    // actualizar set local para mantener UI consistente
                                    if (pokemon.favorito)
                                        favoritosSet.add(pokemon.idPokemon);
                                    else
                                        favoritosSet.delete(pokemon.idPokemon);
                                })
                                .catch(err => {
                                    console.error('Error al actualizar favorito:', err);
                                    // opcional: revertir checkbox si falla
                                    target.checked = !target.checked;
                                });
                    }
                });

                // Evitar que clic en checkbox dispare el onclick de la fila (al hacer click en label/input)
                tbody.addEventListener("click", function (e) {
                    const target = e.target;
                    if (target && (target.classList && target.classList.contains("poke-checkbox") || target.tagName === 'LABEL')) {
                        e.stopPropagation();
                    }
                }, true);
            }

            async function obtenerFavoritos() {
                try {
                    const res = await fetch(`/pokeControl/standar/getFavoritos`);
                    if (!res.ok) {
                        console.error("Error al obtener favoritos");
                        return;
                    }
                    const favoritos = await res.json();
                    // asumes que la respuesta es un array con campo idJson (según tu código anterior)
                    favoritosSet = new Set((favoritos || []).map(f => parseInt(f.idJson)));
                    console.log(favoritosSet);

                    return favoritosSet;
                } catch (err) {
                    console.error("Error al obtener favoritos:", err);
                }
            }

            function sincronizarFavoritosUI() {
                // marca/desmarca checkboxes según favoritosSet
                document.querySelectorAll('.poke-checkbox').forEach(cb => {
                    const idJson = parseInt(cb.dataset.id);
                    cb.checked = favoritosSet.has(idJson);
                });
            }

            /* ---------- Si necesitas exponer una función para recargar favoritos desde fuera ---------- */
            async function recargarFavoritosYUI() {
                await obtenerFavoritos();
                sincronizarFavoritosUI();
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>




    </body>

</html>